*.swp
vim/tmp
stuff_for_vim.txt
vim/sessions/*.lock
vim/.netrwhist
vim/bundle/*
vim/local/*
vim/sessions/*
install_changes_to_be_made.txt
Session.vim
#vimrc#
pentadactyl/info
vim/session
history-command
history-search
vimperator/info/default/local-marks
