export OPENAI_API_KEY=XXXXXXXX
export COHERE_API_KEY=XXXXXXXX
export HUGGINGFACE_API_KEY=XXXXXXXX
export HOMEBREW_GITHUB_API_TOKEN=XXXXXXXX
export JIRA_API_TOKEN=XXXXXXXX
# export ANTHROPIC_API_KEY=XXXXXXXX
## export ANTHROPIC_API_KEY=XXXXXXXX
export GEMINI_API_KEY=XXXXXXXX
export OPENROUTER_API_KEY=XXXXXXXX
export OLLAMA_API_BASE=XXXXXXXX
export CLOUDSDK_PYTHON=XXXXXXXX
# export B2_APPLICATION_KEY_ID=XXXXXXXX
# export B2_APPLICATION_KEY=XXXXXXXX
export B2_APPLICATION_KEY_ID=XXXXXXXX
export B2_APPLICATION_KEY=XXXXXXXX
export CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS=XXXXXXXX
export GH_TELEMETRY=XXXXXXXX
