# id
snippet #
#${1:id} {
	${2}
}
endsnippet

# class
snippet .
.${1:class} {
	${2}
}
endsnippet

# tag
snippet <
${1:tag} {
	${2}
}
endsnippet

# attribute
snippet :
	${1:property}: ${2:value};
endsnippet
